::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #FA8736;
}
::-webkit-scrollbar-track {
  background: #841BD4;
}

.blurred-text {
    font-size: 200px;
    color: transparent;
    text-shadow: 0 0 40px #FA8736;
    line-height: 0;
    opacity: 0.7;
}

.blurred-white-text {
    font-size: 250px;
    color: transparent;
    text-shadow: 0 0 15px #fafafa;
    line-height: 0;
    opacity: 0.7;
}

.stroked-text {
    color: transparent;
    -webkit-text-stroke: 1px #fafafa;
    text-decoration: none;
    transition: 0.3s;
}

.stroked-text:hover {
    color: #fafafa;
    -webkit-text-stroke: none;
}

@media (min-width: 640px) { 

}
@media (min-width: 768px) { 
  .blurred-text {
    font-size: 400px;
  }
}
@media (min-width: 1024px) { 
  .blurred-text {
    font-size: 500px;
  }
}
@media (min-width: 1280px) { 
  .blurred-text {
    font-size: 700px;
  }
}